<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>

    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔒</text></svg>" />
    <title>Go Auth</title>
</head>

<body>
    <h1>Go Auth</h1>
    <fieldset>
        <legend>Sign up</legend>
        <form hx-post="/auth/signup" hx-target="#response">
            <label for="email">Email:</label>
            <input name="email" id="email" type="email" required />
            <br>
            <label for="password">Password:</label>
            <input name="password" id="password" type="password" required />
            <br>
            <button type="submit">
                <span>Submit</span>
            </button>
            <span id="response"></span>
        </form>
    </fieldset>
</body>

</html>